# Data exploration and assessment

## Airport data

In [4]:
import pandas as pd

airports_file = 'airport-codes_csv.csv'
airports_df = pd.read_csv(airports_file)

print(airports_df.shape)

(55075, 12)

In [7]:
# pandas interprets continent = NA (North America) as nulls
# we manually add these back in for this stage, but note that it will not be necessary in the ETL pipeline as PySpark 
# does not make the same mistake
airports_df.loc[airports_df['continent'].isna(), 'continent'] = 'NA'
airports_df.isna().sum()/airports_df.shape[0]

ident           0.000000
type            0.000000
name            0.000000
elevation_ft    0.127208
continent       0.000000
iso_country     0.004485
iso_region      0.000000
municipality    0.103059
gps_code        0.255016
iata_code       0.833155
local_code      0.479147
coordinates     0.000000
dtype: float64

#### Around 83% of entries have no iata_code value. This will be an intesive task to update without providing much value. We will drop this column. In addition, we will not need to include gps_code or local_code, so these will also be removed.

In [8]:
# the iso_region column contains the US state code
# we will have to manuualy extract the two-letter code from the column
airports_df = airports_df.replace({'US-': ''}, regex=True)
airports_df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NA,US,PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NA,US,KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NA,US,AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NA,US,AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NA,US,AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

## US cities demographics data

In [9]:
demographics_file = 'us-cities-demographics.csv'
demo_df = pd.read_csv(demographics_file, delimiter=';')

print(demo_df.shape)

(2891, 12)

#### There are only 16 rows with any nulls, covering 8 cities, all of which are for relatively small. We disclude these.

In [13]:
demo_df[demo_df.isna().any(axis=1)]

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
111,San Juan,Puerto Rico,41.4,155408.0,186829.0,342237,NaN,NaN,NaN,PR,Hispanic or Latino,335559
155,Caguas,Puerto Rico,40.4,34743.0,42265.0,77008,NaN,NaN,NaN,PR,Hispanic or Latino,76349
258,Carolina,Puerto Rico,42.0,64758.0,77308.0,142066,NaN,NaN,NaN,PR,American Indian and Alaska Native,12143
333,The Villages,Florida,70.5,NaN,NaN,72590,15231.0,4034.0,NaN,FL,Hispanic or Latino,1066
449,The Villages,Florida,70.5,NaN,NaN,72590,15231.0,4034.0,NaN,FL,Black or African-American,331
637,Carolina,Puerto Rico,42.0,64758.0,77308.0,142066,NaN,NaN,NaN,PR,Hispanic or Latino,139967
1437,The Villages,Florida,70.5,NaN,NaN,72590,15231.0,4034.0,NaN,FL,White,72211
1747,San Juan,Puerto Rico,41.4,155408.0,186829.0,342237,NaN,NaN,NaN,PR,American Indian and Alaska Native,4031
1748,Mayagüez,Puerto Rico,38.1,30799.0,35782.0,66581,NaN,NaN,NaN,PR,Asian,235
1995,Ponce,Puerto Rico,40.5,56968.0,64615.0,121583,NaN,NaN,NaN,PR,Hispanic or Latino,120705
2004,Bayamón,Puerto Rico,39.4,80128.0,90131.0,170259,NaN,NaN,NaN,PR,Hispanic or Latino,169155
2441,San Juan,Puerto Rico,41.4,155408.0,186829.0,342237,NaN,NaN,NaN,PR,Asian,2452
2589,Guaynabo,Puerto Rico,42.2,33066.0,37426.0,70492,NaN,NaN,NaN,PR,Hispanic or Latino,69936
2597,Caguas,Puerto Rico,40.4,34743.0,42265.0,77008,NaN,NaN,NaN,PR,American Indian and Alaska Native,624
2654,Guaynabo,Puerto Rico,42.2,33066.0,37426.0,70492,NaN,NaN,NaN,PR,American Indian and Alaska Native,589
2746,Mayagüez,Puerto Rico,38.1,30799.0,35782.0,66581,NaN,NaN,NaN,PR,Hispanic or Latino,65521

#### Each city has counts for between 1 and 5 races, which creates duplicate rows. For around 79% of the rows, all but two of the columns (Race and Count) are redundant. We'll create a new table which contains the race data, and remove it from the demographics table to reduce storage space required.

In [14]:
min_races = min(demo_df.groupby(['City', 'State']).size())
max_races = max(demo_df.groupby(['City', 'State']).size())
print(min_races, max_races)

1 5

In [15]:
# Proportion of duplicated rows when Race and Count columns are removed
1-demo_df[['City', 'State']].drop_duplicates().shape[0]/demo_df.shape[0]

0.7938429609131789

## Temperature data

In [16]:
temperature_file = '../../data2/GlobalLandTemperaturesByCity.csv'
temp_df = pd.read_csv(temperature_file)

temp_df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty   City  \
0  1743-11-01               6.068                          1.737  Århus
1  1743-12-01                 NaN                            NaN  Århus
2  1744-01-01                 NaN                            NaN  Århus
3  1744-02-01                 NaN                            NaN  Århus
4  1744-03-01                 NaN                            NaN  Århus

   Country Latitude Longitude
0  Denmark   57.05N    10.33E
1  Denmark   57.05N    10.33E
2  Denmark   57.05N    10.33E
3  Denmark   57.05N    10.33E
4  Denmark   57.05N    10.33E
               dt  AverageTemperature  AverageTemperatureUncertainty     City  \
47555  1820-01-01               2.101                          3.217  Abilene
47556  1820-02-01               6.926                          2.853  Abilene
47557  1820-03-01              10.767                          2.395  Abilene
47558  1820-04-01              17.989                          2.202  Abilene
47559  1820-05-01              21.809                          2.036  Abilene

             Country Latitude Longitude
47555  United States   32.95N   100.53W
47556  United States   32.95N   100.53W
47557  United States   32.95N   100.53W
47558  United States   32.95N   100.53W
47559  United States   32.95N   100.53W

In [17]:
print(min(temp_df['dt']), max(temp_df['dt']))

1743-11-01 2013-09-01

#### The temperature data we have covers 1743 to 2013, while the immigration dataset covers 2016 only. As there is no date overlap between these two, we cannot join on date. We instead take the latest 10 year's of temperature for each city going forward, averaged for each month.

In [5]:
temp_df['dt'] = pd.to_datetime(temp_df['dt'], format='%Y/%m/%d')

In [6]:
temp_10_years_df = temp_df[temp_df['dt'] >= max(temp_df['dt']) - pd.offsets.DateOffset(years=10)]

In [7]:
temp_10_years_df['month'] = pd.DatetimeIndex(temp_10_years_df['dt']).month

temp_10_years_df.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,month
3118,2003-09-01,14.425,0.172,Århus,Denmark,57.05N,10.33E,9
3119,2003-10-01,6.621,0.467,Århus,Denmark,57.05N,10.33E,10
3120,2003-11-01,6.016,0.295,Århus,Denmark,57.05N,10.33E,11
3121,2003-12-01,3.697,0.284,Århus,Denmark,57.05N,10.33E,12
3122,2004-01-01,-0.660,0.204,Århus,Denmark,57.05N,10.33E,1

In [8]:
temp_10_years_df.groupby(['City','Country','Latitude','Longitude','month']).mean().reset_index()

,City,Country,Latitude,Longitude,month,AverageTemperature,AverageTemperatureUncertainty
0,A Coruña,Spain,42.59N,8.73W,1,9.1581,0.3537
1,A Coruña,Spain,42.59N,8.73W,2,9.2842,0.3760
2,A Coruña,Spain,42.59N,8.73W,3,11.2129,0.3913
3,A Coruña,Spain,42.59N,8.73W,4,12.6073,0.4009
4,A Coruña,Spain,42.59N,8.73W,5,14.8401,0.3503
5,A Coruña,Spain,42.59N,8.73W,6,17.8176,0.4524
6,A Coruña,Spain,42.59N,8.73W,7,19.1891,0.6247
7,A Coruña,Spain,42.59N,8.73W,8,19.5752,0.4898
8,A Coruña,Spain,42.59N,8.73W,9,18.4079,0.4114
9,A Coruña,Spain,42.59N,8.73W,10,15.2289,0.4015
10,A Coruña,Spain,42.59N,8.73W,11,11.5217,0.4195
11,A Coruña,Spain,42.59N,8.73W,12,9.2684,0.3439
12,Aachen,Germany,50.63N,6.34E,1,1.8348,0.2197
13,Aachen,Germany,50.63N,6.34E,2,2.0777,0.1949
14,Aachen,Germany,50.63N,6.34E,3,5.3417,0.2120
15,Aachen,Germany,50.63N,6.34E,4,9.9743,0.2126
16,Aachen,Germany,50.63N,6.34E,5,13.4501,0.2305
17,Aachen,Germany,50.63N,6.34E,6,16.4441,0.2433
18,Aachen,Germany,50.63N,6.34E,7,18.5348,0.2257
19,Aachen,Germany,50.63N,6.34E,8,17.5637,0.2339
20,Aachen,Germany,50.63N,6.34E,9,14.7704,0.2115
21,Aachen,Germany,50.63N,6.34E,10,10.1066,0.1853
22,Aachen,Germany,50.63N,6.34E,11,6.2512,0.2147
23,Aachen,Germany,50.63N,6.34E,12,2.1398,0.2371
24,Aalborg,Denmark,57.05N,10.33E,1,0.9761,0.3363
25,Aalborg,Denmark,57.05N,10.33E,2,0.6895,0.2787
26,Aalborg,Denmark,57.05N,10.33E,3,2.9387,0.3545
27,Aalborg,Denmark,57.05N,10.33E,4,7.7232,0.3088
28,Aalborg,Denmark,57.05N,10.33E,5,12.1786,0.2901
29,Aalborg,Denmark,57.05N,10.33E,6,15.3243,0.2937
...,...,...,...,...,...,...,...
42090,Çorum,Turkey,40.99N,34.08E,7,21.7960,0.4171
42091,Çorum,Turkey,40.99N,34.08E,8,22.2835,0.4051
42092,Çorum,Turkey,40.99N,34.08E,9,17.6284,0.4437
42093,Çorum,Turkey,40.99N,34.08E,10,12.1567,0.3095
42094,Çorum,Turkey,40.99N,34.08E,11,5.8121,0.4381
42095,Çorum,Turkey,40.99N,34.08E,12,1.7175,0.3940
42096,Öskemen,Kazakhstan,50.63N,82.39E,1,-18.0060,0.6564
42097,Öskemen,Kazakhstan,50.63N,82.39E,2,-15.5082,0.7909
42098,Öskemen,Kazakhstan,50.63N,82.39E,3,-5.7268,0.5531
42099,Öskemen,Kazakhstan,50.63N,82.39E,4,5.3268,0.3700
42100,Öskemen,Kazakhstan,50.63N,82.39E,5,12.1160,0.3765
42101,Öskemen,Kazakhstan,50.63N,82.39E,6,17.6042,0.3967
42102,Öskemen,Kazakhstan,50.63N,82.39E,7,19.0120,0.4242
42103,Öskemen,Kazakhstan,50.63N,82.39E,8,16.8578,0.4163
42104,Öskemen,Kazakhstan,50.63N,82.39E,9,11.5362,0.3617
42105,Öskemen,Kazakhstan,50.63N,82.39E,10,4.3680,0.3526
42106,Öskemen,Kazakhstan,50.63N,82.39E,11,-4.7764,0.4359
42107,Öskemen,Kazakhstan,50.63N,82.39E,12,-13.9961,0.8837
42108,Ürümqi,China,44.20N,87.20E,1,-15.7229,0.9199
42109,Ürümqi,China,44.20N,87.20E,2,-11.0418,1.0192
42110,Ürümqi,China,44.20N,87.20E,3,0.0015,1.0328
42111,Ürümqi,China,44.20N,87.20E,4,11.8148,0.4970
42112,Ürümqi,China,44.20N,87.20E,5,17.6728,0.4596
42113,Ürümqi,China,44.20N,87.20E,6,22.7676,0.3792
42114,Ürümqi,China,44.20N,87.20E,7,24.4967,0.4092
42115,Ürümqi,China,44.20N,87.20E,8,22.9088,0.4670
42116,Ürümqi,China,44.20N,87.20E,9,17.3407,0.3792
42117,Ürümqi,China,44.20N,87.20E,10,8.6536,0.5854
42118,Ürümqi,China,44.20N,87.20E,11,-1.1691,0.6036
42119,Ürümqi,China,44.20N,87.20E,12,-11.2753,0.9781

## Immigration data

In [17]:
fname = '../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

df.head()

(2847924, 28) (3742, 28)

#### Some columns in the immigrant data table are mostly (>95%) nulls, including 'occup', 'entdepu', and 'insnum'. We will disclude these

In [3]:
df.isna().sum()/df.shape[0]*100

cicid        0.000000
i94yr        0.000000
i94mon       0.000000
i94cit       0.000000
i94res       0.000000
i94port      0.000000
arrdate      0.000000
i94mode      0.004941
i94addr      5.171279
depdate      4.414819
i94bir       0.028001
i94visa      0.000000
count        0.000000
dtadfile     0.000063
visapost    60.509611
occup       99.556836
entdepa      0.004878
entdepd      4.333889
entdepu     99.988122
matflag      4.333889
biryear      0.028001
dtaddto      0.018340
gender      11.824817
insnum      95.661360
airline      3.217317
admnum       0.000000
fltno        0.388841
visatype     0.000000
dtype: float64

In [5]:
df.drop(['occup', 'entdepu', 'insnum'], axis=1)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepa,entdepd,matflag,biryear,dtaddto,gender,airline,admnum,fltno,visatype
0,2.0,2016.0,3.0,213.0,213.0,XXX,20543.0,NaN,NaN,NaN,...,T,NaN,NaN,1952.0,09292016,NaN,NaN,1.140200e+09,NaN,B2
1,3.0,2016.0,3.0,245.0,245.0,XXX,20524.0,NaN,NaN,NaN,...,T,NaN,NaN,1956.0,09102016,NaN,NaN,1.697295e+09,NaN,B2
2,7.0,2016.0,3.0,260.0,260.0,SFR,20514.0,1.0,CA,20640.0,...,G,O,M,1988.0,08312016,F,PR,7.391007e+10,00104,B2
3,9.0,2016.0,3.0,691.0,691.0,FTL,20533.0,1.0,FL,NaN,...,G,NaN,NaN,1934.0,D/S,M,*GA,8.539319e+10,N900J,F1
4,11.0,2016.0,3.0,258.0,258.0,XXX,20514.0,1.0,NY,20533.0,...,G,O,M,1980.0,08282016,M,AA,8.937570e+10,45,B1
5,12.0,2016.0,3.0,101.0,101.0,NYC,20514.0,1.0,NY,20598.0,...,O,I,M,1979.0,08312016,NaN,TK,8.944788e+10,00003,B1
6,14.0,2016.0,3.0,101.0,101.0,MIA,20514.0,1.0,FL,20544.0,...,G,O,M,1987.0,08312016,M,LH,8.946287e+10,00462,B2
7,15.0,2016.0,3.0,101.0,101.0,NYC,20514.0,1.0,NY,20524.0,...,G,O,M,1993.0,08312016,M,VS,8.948222e+10,00009,B2
8,17.0,2016.0,3.0,101.0,101.0,NYC,20514.0,1.0,NY,NaN,...,G,NaN,NaN,1990.0,08312016,M,TK,8.948743e+10,00011,B2
9,18.0,2016.0,3.0,101.0,101.0,NYC,20514.0,1.0,NY,20525.0,...,G,O,M,1963.0,08312016,M,TK,8.944831e+10,00003,B2
10,20.0,2016.0,3.0,101.0,101.0,NYC,20514.0,1.0,NY,20525.0,...,G,O,M,1994.0,08312016,M,AZ,8.946067e+10,00608,B2
11,21.0,2016.0,3.0,101.0,101.0,NYC,20514.0,1.0,NY,20635.0,...,G,O,M,1943.0,08312016,F,AZ,8.948165e+10,00610,B2
12,22.0,2016.0,3.0,101.0,101.0,LOS,20514.0,1.0,CA,20586.0,...,G,O,M,1998.0,08312016,M,TK,8.948162e+10,00009,B2
13,23.0,2016.0,3.0,101.0,101.0,CHI,20514.0,1.0,KS,20562.0,...,G,O,M,1980.0,08312016,F,LH,8.948435e+10,00434,B2
14,24.0,2016.0,3.0,101.0,101.0,CHI,20514.0,1.0,KS,20562.0,...,G,O,M,1985.0,08312016,F,LH,8.948448e+10,00434,B2
15,25.0,2016.0,3.0,101.0,101.0,SEA,20514.0,1.0,WA,NaN,...,G,NaN,NaN,1995.0,D/S,F,BA,8.948039e+10,00049,F1
16,26.0,2016.0,3.0,101.0,101.0,SEA,20514.0,1.0,WA,NaN,...,G,NaN,NaN,1997.0,D/S,M,BA,8.948034e+10,00049,F1
17,28.0,2016.0,3.0,101.0,117.0,ATL,20514.0,1.0,NY,20516.0,...,H,O,M,1981.0,08152016,M,EV,8.830011e+10,05318,B2
18,29.0,2016.0,3.0,101.0,117.0,ATL,20514.0,1.0,NY,20516.0,...,H,O,M,1982.0,08152016,F,EV,8.830011e+10,05318,B2
19,30.0,2016.0,3.0,101.0,117.0,ATL,20514.0,1.0,NY,20516.0,...,H,O,M,1986.0,08152016,F,EV,8.830011e+10,05318,B2
20,31.0,2016.0,3.0,101.0,117.0,ATL,20514.0,1.0,NY,20516.0,...,H,O,M,2010.0,08152016,M,EV,8.830012e+10,05318,B2
21,45.0,2016.0,3.0,103.0,103.0,ATL,20514.0,1.0,AL,20524.0,...,O,O,M,1950.0,05292016,NaN,DL,5.367617e+10,00075,WT
22,46.0,2016.0,3.0,103.0,103.0,ATL,20514.0,1.0,FL,20581.0,...,O,O,M,1938.0,05292016,NaN,AF,5.366533e+10,00682,WT
23,47.0,2016.0,3.0,103.0,103.0,ATL,20514.0,1.0,FL,20581.0,...,O,O,M,1941.0,05292016,NaN,AF,5.366533e+10,00682,WT
24,48.0,2016.0,3.0,103.0,103.0,ATL,20514.0,1.0,GA,20517.0,...,G,O,M,1966.0,05292016,M,DL,5.366280e+10,00073,WB
25,49.0,2016.0,3.0,103.0,103.0,ATL,20514.0,1.0,GA,20517.0,...,G,O,M,1974.0,05292016,M,DL,5.366302e+10,00073,WB
26,53.0,2016.0,3.0,103.0,103.0,ATL,20514.0,1.0,NC,20526.0,...,O,O,M,1984.0,05292016,NaN,KL,5.368642e+10,00621,WT
27,54.0,2016.0,3.0,103.0,103.0,BOS,20514.0,1.0,MA,20555.0,...,G,O,M,1987.0,05292016,M,WW,5.367463e+10,00125,WT
28,55.0,2016.0,3.0,103.0,103.0,BOS,20514.0,1.0,MA,20519.0,...,O,O,M,1992.0,05292016,NaN,LH,5.365787e+10,00422,WB
29,56.0,2016.0,3.0,103.0,103.0,BAL,20514.0,1.0,MD,20526.0,...,G,O,M,1989.0,05292016,M,BA,5.368085e+10,00229,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157042,4046777.0,2016.0,3.0,745.0,745.0,PBB,20533.0,3.0,PA,20534.0,...,Z,K,M,1964.0,09192016,M,NaN,9.123957e+10,LAND,B1
3157043,5317403.0,2016.0,3.0,745.0,745.0,PBB,20538.0,3.0,NaN,20540.0,...,Z,K,M,1974.0,07182016,F,NaN,8.591158e+10,LAND,B2
3157044,5767159.0,2016.0,3.0,165.0,745.0,PBB,20541.0,3.0,NaN,20594.0,...,Z,O,M,1995.0,D/S,M,NaN,7.017846e+10,00099,F1
3157045,2439630.0,2016.0,3.0,745.0,745.0,PBB,20526.0,3.0,NaN,20579.0,...,Z,O,M,1996.0,D/S,F,NaN,8.493189e+10,00137,F1
3157046,2225863.0,2016.0,3.0,745.0,745.0,PEM,20525.0,3.0,TN,20532.0,...,Z,K,M,1971.0,09112016,M,NaN,9.037904e+10,LAND,B1
3157047,161637.0,2016.0,3.0,745.0,745.0,PHU,20514.0,3.0,ND,20518.0,...,Z,K,M,1978.0,08312016,M,NaN,8.946901e+10,LAND,B1
3157048,506872.0,2016.0,3.0,745.0,745.0,PHU,20516.0,3.0,IN,20517.0,...,Z,K,M,1973.0,09022016,M,NaN,8.961074e+10,LAND,B1
3157049,911993.0,2016.0,3.0,745.0,745.0,PHU,20518.0,3.0,NaN,20519.0,...,Z,K,M,1999.0,05062016,F,NaN,7.871812e+10,LAND,B2
3157050,2632338.0,2016.0,3.0,745.0,745.0,PHU,20527.0,3.0,NaN,20529.0,...,Z,K,M,1943.0,05252016,F,NaN,8.042312e+10,LAND,B2
3157051,5043064.0,2016.0,3.0,745.0,745.0,PHU,20537.0,3.0,NaN,20540.0,...,Z,K,M,1984.0,06232016,M,NaN,8.320629e+10,LAND,B2
3157052,5043065.0,2016.0,3.0,745.0,745.0,PHU,20537.0,3.0,NaN,20540.0,...,Z,K,M,1986.0,08122016,F,NaN,8.804345e+10,LAND,B2
3157053,5317417.0,2016.0,3.0,745.0,745.0,PHU,20538.0,3.0,IL,20541.0,...,Z,K,M,1986.0,09242016,M,NaN,9.181096e+10,LAND,B2
3157054,5317416.0,2016.0,3.0,745.0,745.0,PHU,20538.0,3.0,IL,NaN,...,Z,NaN,NaN,1976.0,09242016,F,NaN,9.184267e+10,LAND,B2
3157055,911911.0,2016.0,3.0,745.0,745.0,PHU,20518.0,3.0,NaN,20522.0,...,Z,O,M,1983.0,D/S,F,NaN,4.991448e+10,00099,F1
3157056,1273176.0,2016.0,3.0,745.0,745.0,SDP,20520.0,3.0,NaN,NaN,...,Z,NaN,NaN,1973.0,07132016,M,NaN,8.543938e+10,00648,B2
3157057,4758673.0,2016.0,3.0,745.0,745.0,SDP,20536.0,3.0,CA,20562.0,...,Z,I,M,1973.0,09222016,F,NaN,9.162855e+10,LAND,B2
3157058,3511068.0,2016.0,3.0,745.0,745.0,SUM,20531.0,3.0,CA,20536.0,...,Z,K,M,1978.0,09042016,M,NaN,9.105977e+10,LAND,B1
3157059,1101170.0,2016.0,3.0,745.0,745.0,SYS,20519.0,3.0,CA,20524.0,...,Z,O,M,1984.0,08042016,M,NaN,8.743211e+10,00458,B1
3157060,1101171.0,2016.0,3.0,745.0,745.0,SYS,20519.0,3.0,CA,20524.0,...,Z,O,M,1984.0,08042016,M,NaN,8.743224e+10,00458,B1
3157061,325119.0,2016.0,3.0,745.0,745.0,SYS,20515.0,3.0,CA,20516.0,...,Z,O,M,1978.0,08172016,M,NaN,8.850298e+10,00066,B1
3157062,325120.0,2016.0,3.0,745.0,745.0,SYS,20515.0,3.0,CA,20516.0,...,Z,O,M,1982.0,08172016,M,NaN,8.850310e+10,00066,B1
3157063,2439639.0,2016.0,3.0,745.0,745.0,SYS,20526.0,3.0,CA,20586.0,...,Z,O,M,1970.0,08222016,M,NaN,8.889726e+10,00163,B2
3157064,325121.0,2016.0,3.0,745.0,745.0,SYS,20515.0,3.0,CA,20517.0,...,Z,O,M,1964.0,08262016,F,NaN,8.921911e+10,00015,B2
3157065,161587.0,2016.0,3.0,745.0,745.0,SYS,20514.0,3.0,CA,20526.0,...,Z,O,M,1987.0,08262016,NaN,NaN,8.922570e+10,00641,B2
3157066,4285330.0,2016.0,3.0,745.0,745.0,SYS,20534.0,3.0,CA,20594.0,...,Z,O,M,1993.0,D/S,F,NaN,8.580949e+10,00088,F1
3157067,2225883.0,2016.0,3.0,745.0,745.0,THO,20525.0,3.0,VA,20532.0,...,Z,K,M,1970.0,09112016,M,NaN,9.038337e+10,LAND,B2
3157068,2225884.0,2016.0,3.0,745.0,745.0,THO,20525.0,3.0,VA,20532.0,...,Z,K,M,1971.0,09112016,F,NaN,9.038355e+10,LAND,B2
3157069,2225886.0,2016.0,3.0,745.0,745.0,THO,20525.0,3.0,VA,20532.0,...,Z,K,M,2008.0,09112016,F,NaN,9.038359e+10,LAND,B2
3157070,2225885.0,2016.0,3.0,745.0,745.0,THO,20525.0,3.0,VA,20532.0,...,Z,K,M,2004.0,09112016,M,NaN,9.038366e+10,LAND,B2
3157071,5317413.0,2016.0,3.0,745.0,745.0,THO,20538.0,3.0,MD,20541.0,...,Z,K,M,1986.0,09242016,F,NaN,9.179781e+10,LAND,B2

In [4]:
x_df = df[df['i94port'] == 'XXX']
x_df.shape

(1725, 28)